@using DAO.Modelo;
@model BEAN.LoginBEAN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Modal.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.idUsuario)
    <div class="form-horizontal">
        <label>@Model.idUsuario</label>
        <div class="form-group">
            @Html.LabelFor(model => model.nombreProducto, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.nombreProducto, htmlAttributes: new { @class = "form-control" })
            @*<input class="form-control" id="user_acceso" name="user_acceso" type="text" value="@Model.user_acceso"> *@
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.descripcionProducto, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.descripcionProducto, htmlAttributes: new { @class = "form-control" })
            @*<input class="form-control" id="user_acceso" name="user_acceso" type="text" value="@Model.user_acceso"> *@
        </div><div class="form-group">
            @Html.LabelFor(model => model.estadoProducto, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.estadoProducto, htmlAttributes: new { @class = "form-control" })
            @*<input class="form-control" id="user_acceso" name="user_acceso" type="text" value="@Model.user_acceso"> *@
        </div>
        <div class="form-group">
            <input type="submit" value="Registrar" class="btn btn-success" />
        </div>
    </div>
}
