@using DAO.Modelo
@model List<BEAN.LoginBEAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Usuarios</h2>
<a onclick="modalCrearUsuario(this)" class="btn btn-info glyphicon glyphicon-user" title="Nuevo Usuario"></a>
<table class="table">
    <thead>
        <tr>
            <td>Nombre de username</td>
            <td>Tipo de usuario</td>
            <td>Estado de usuario</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User</td>
                <td>@item.nombre_tipo_usuario</td>
                <td>@item.estado_usuario</td>
                <!--
                <td><a onclick="modalEditarUsuario(this)" class="btn btn-info glyphicon glyphicon-edit" title="Editar Usuario"></a></td>
                    -->
                <td>@Html.ActionLink("Editar", "Edit", new { id = item.idUsuario, estado = item.estado_usuario })</td>
                <td>
                    @Html.ActionLink(" ", "Delete"
               , new { id = item.idUsuario }
               , new
               {
                   @class = "btn btn-danger glyphicon glyphicon-remove",
                   @title = "Eliminar",
                   @onclick = "return confirm('Desea eliminar el asunto?');"
               }
               )
                </td>
                <td>
                    @if (item.estado_usuario == false)
                    {
                        @Html.ActionLink(" ", "Delete"
                            , new { id = item.idUsuario, estado = item.estado_usuario }
                            , new
                            {
                                @class = "btn btn-success glyphicon glyphicon-ok",
                                @title = "Eliminar",
                                @onclick = "return confirm('Desea eliminar el asunto?');"
                            }
                            )
                    }
                    else if (item.estado_usuario == true)
                    {
                        @Html.ActionLink(" ", "Delete"
                           , new { id = item.idUsuario, estado = item.estado_usuario }
                           , new
                           {
                               @class = "btn btn-danger glyphicon glyphicon-remove",
                               @title = "Eliminar",
                               @onclick = "return confirm('Desea eliminar el asunto?');"
                           }
                           )
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $.getScript("/Scripts/jsUsuario.js")
        .done(function (script, textStatus) {
            //console.log(textStatus);
        })
        .fail(function (jqxhr, settings, exception) {
            console.log("Fallo carad de cript js.");
            console.log(exception);
        });
</script>
<script type="text/javascript">
    $.getScript("/Scripts/jsUsuarioedit.js")
        .done(function (script, textStatus) {
            //console.log(textStatus);
        })
        .fail(function (jqxhr, settings, exception) {
            console.log("Fallo carad de cript js.");
            console.log(exception);
        });
</script>


